# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local

# Airflow
airflow.db
airflow-webserver.pid
logs/
airflow.cfg

# DVC
/data/raw/products_raw.json
/data/processed/products_clean.csv
/data/features/vocab.json
/data/features/bow_matrix.npy
/data/features/onehot_sample.npy
/data/features/ngram_frequencies.json

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
